<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="language" content="english">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="CloudBrew - Product that will revolutionize the way you use cloud storage.">
        <meta name="keywords" content="CloudBrew, Encrypted Cloud Storage, Cloud Storage, Cloud Management, Unlimited Storage, Decentralized Cloud Storage, cloudbrew.io">
        <meta name="author" content="CloudBrew Labs 2016">
        <link rel="icon" type="image/png" href="/assets/img/cloudbrew_icon_16x16.ico" sizes="16x16">
        <link rel="icon" type="image/png" href="/assets/img/cloudbrew_icon_32x32.ico" sizes="32x32">
        <link rel="icon" type="image/png" href="/assets/img/cloudbrew_icon_64x64.ico" sizes="64x64">
        <title>About Us | CloudBrew</title>
        <link href="/landingpage/css/bootstrap.min.css" rel="stylesheet">
        <link href="/landingpage/css/font-awesome.min.css" rel="stylesheet">
        <link href="/landingpage/css/animate.min.css" rel="stylesheet"> 
        <link href="/landingpage/css/lightbox.css" rel="stylesheet"> 
        <link href="/landingpage/css/main.css" rel="stylesheet">
        <link href="/landingpage/css/responsive.css" rel="stylesheet">
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-71253533-1', 'auto');
          ga('send', 'pageview',location.pathname);

        </script>
    </head><!--/head-->

    <body>
    	<header id="header">      
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 overflow">
                        <div class="social-icons pull-right">
                            <ul class="nav nav-pills">
                                <li><a href="https://www.facebook.com/cloudbrew.io" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/CloudBrew_io" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://plus.google.com/+CloudbrewIo2016" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                <!--<li><a href="#"><i class="fa fa-dribbble"></i></a></li>-->
                                <li><a href="https://www.linkedin.com/company/cloudbrew-labs-llp" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div> 
                    </div>
                 </div>
            </div>
            <div class="navbar navbar-inverse" role="banner">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" href="/">
                            <h1><img src="/landingpage/images/logo_top_blue.png" alt="CloudBrew" style="height: 90px;"></h1>
                        </a>
                        
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/">Home</a></li>
                            <li class="active"><a href="/about">About Us</a></li>
                            <li><a href="/subscribe">Subscribe</a></li>
                            <li><a href="/login">Login</a></li>
                        </ul>
                    </div>
                    <%
                    /*
                    <div class="search">
                        <form role="form">
                            <i class="fa fa-search"></i>
                            <div class="field-toggle">
                                <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                            </div>
                        </form>
                    </div>
                    */
                    %>
                </div>
            </div>
        </header>
        <!--/#header-->


        <section id="page-breadcrumb">
            <div class="vertical-center sun">
                 <div class="container">
                    <div class="row">
                        <div class="action">
                            <div class="col-sm-12">
                                <h1 class="title">About Us</h1>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
       </section>
        <!--/#page-breadcrumb-->

        <section id="about-company" class="padding-top wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <img src="/landingpage/images/aboutus/5.png" class="margin-bottom" alt="">
                        <h1 class="margin-bottom">About Our Company</h1>
                        <p>CloudBrew is a product that helps to secure your data by distributing it over multiple cloud storage accounts. <br /> It gives you the freedom and flexibility to manage multiple storage accounts through single console. We believe that you, and only you should be the boss of your data</p>
                    </div>
                </div>
            </div>
        </section>
        <!--/#about-company-->
        
        <section id="team">
            <div class="container">
                <div class="row">
                    <h1 class="title text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">Meet the Team</h1>
                    <p class="text-center wow fadeInDown" data-wow-duration="400ms" data-wow-delay="400ms">People in CloudBrew who are working hard to make it a big time success. </p>
                    <div id="team-carousel" class="carousel slide wow fadeIn" data-ride="carousel" data-wow-duration="400ms" data-wow-delay="400ms">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-sm-3 col-xs-12">
                                    <div class="team-single-wrapper">
                                        <div class="team-single">
                                            <div class="person-thumb">
                                                <img src="/landingpage/images/aboutus/1.jpg" class="img-responsive" alt="Vinay Garg">
                                            </div>
                                            <div class="social-profile">
                                                <ul class="nav nav-pills">
                                                    <li><a href="https://www.facebook.com/vinaygarg.iitk" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="https://twitter.com/Vinaygarg_iitk" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="https://in.linkedin.com/in/vinaygarg653" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="person-info">
                                            <h2>Vinay Garg</h2>
                                            <p>Co Founder</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                    <div class="team-single-wrapper">
                                        <div class="team-single">
                                            <div class="person-thumb">
                                                <img src="/landingpage/images/aboutus/2.jpg" class="img-responsive" alt="Runcy Oommen">
                                            </div>
                                            <div class="social-profile">
                                                <ul class="nav nav-pills">
                                                    <li><a href="https://www.facebook.com/runcy.oommen" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="https://twitter.com/runcyoommen" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="https://in.linkedin.com/in/runcyoommen" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="person-info">
                                            <h2>Runcy Oommen</h2>
                                            <p>Co Founder</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                    <div class="team-single-wrapper">
                                        <div class="team-single">
                                            <div class="person-thumb">
                                                <img src="/landingpage/images/aboutus/3.jpg" class="img-responsive" alt="Hemanth H M">
                                            </div>
                                            <div class="social-profile">
                                                <ul class="nav nav-pills">
                                                    <li><a href="https://www.facebook.com/hemanth" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="https://twitter.com/GNUmanth" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="https://in.linkedin.com/in/hemanthhm" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="person-info">
                                            <h2>Hemanth HM</h2>
                                            <p>Full Stack Developer</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                    <div class="team-single-wrapper">
                                        <div class="team-single">
                                            <div class="person-thumb">
                                                <img src="/landingpage/images/aboutus/4.jpg" class="img-responsive" alt="Chinmaya Kumar Guru">
                                            </div>
                                            <div class="social-profile">
                                                <ul class="nav nav-pills">
                                                    <li><a href="https://www.facebook.com/ckguru" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="https://twitter.com/Only6uru" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="https://in.linkedin.com/in/ckguru" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="person-info">
                                            <h2>Chinmaya Kumar Guru</h2>
                                            <p>Designer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/#team-->

        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center bottom-separator">
                        <img src="/landingpage/images/home/under.png" class="img-responsive inline" alt="">
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="bottom">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <a href="/">
                                        <img src="/landingpage/images/logo.png" alt="CloudBrew" style="height: 40px;">
                                    </a>
                                </div>
                                <div class="col-md-12 col-sm-12 text-center">
                                    <p><small>&copy; CloudBrew Labs 2016. All Rights Reserved.</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="bottom">
                            <h2>Company</h2>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <a href="/about">About Us</a>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <a href="/news">News</a>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <a href="/terms">Terms Of Service</a>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <a href="/privacy">Privacy Policy</a>
                                </div>                     
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="bottom">
                            <h2>Contacts</h2>
                            <address>
                            E-mail: <a href="mailto:info@cloudbrew.io">info@cloudbrew.io</a> <br>
                            </address>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="bottom">
                            <h2>Subscribe</h2>
                            <form id="subscribeform" name="contact-form" method="post" action="/requestsubscribe">
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" required="required" placeholder="Email Id">
                                </div>
                                <div class="form-group">
                                    <button onclick="$('#subscribeform').submit()" class="btn btn-submit blue-button">Subscribe</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="copyright-text text-center">
                            <!-- <p>&copy; CloudBrew Labs LLP 2016. All Rights Reserved.</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--/#footer-->

        <script type="text/javascript" src="/landingpage/js/jquery.js"></script>
        <script type="text/javascript" src="/landingpage/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/landingpage/js/lightbox.min.js"></script>
        <script type="text/javascript" src="/landingpage/js/wow.min.js"></script>
        <script type="text/javascript" src="/landingpage/js/jquery.countTo.js"></script>
        <script type="text/javascript" src="/landingpage/js/main.js"></script>   
       
    </body>
</html>
