<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="CloudBrew - Product that will revolutionize the way you use cloud storage.">
        <meta name="keywords" content="CloudBrew, Encrypted Cloud Storage, Cloud Storage, Cloud Management, Unlimited Storage, Decentralized Cloud Storage, cloudbrew.io">
        <meta name="author" content="CloudBrew Systems">
        <link rel="icon" type="image/png" href="/assets/img/cloudbrew_icon_16x16.ico" sizes="16x16">
        <link rel="icon" type="image/png" href="/assets/img/cloudbrew_icon_32x32.ico" sizes="32x32">
        <link rel="icon" type="image/png" href="/assets/img/cloudbrew_icon_64x64.ico" sizes="64x64">
        <title>CloudBrew</title>
        <link href="/landingpage/css/bootstrap.min.css" rel="stylesheet">
        <link href="/landingpage/css/font-awesome.min.css" rel="stylesheet">
        <link href="/landingpage/css/lightbox.css" rel="stylesheet"> 
        <link href="/landingpage/css/animate.min.css" rel="stylesheet"> 
    	<link href="/landingpage/css/main.css" rel="stylesheet">
    	<link href="/landingpage/css/responsive.css" rel="stylesheet">

        <!--[if lt IE 9]>
    	    <script src="js/html5shiv.js"></script>
    	    <script src="js/respond.min.js"></script>
        <![endif]-->       
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-71253533-1', 'auto');
          ga('send', 'pageview',location.pathname);

        </script>
    </head><!--/head-->

    <body>
    	<header id="header">      
            <div class="navbar navbar-inverse" role="banner">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" href="/">
                            <h1><img src="/landingpage/images/logo_top_blue.png" alt="CloudBrew" style="height: 90px;"></h1>
                        </a>
                        
                    </div>
                    <div class="collapse navbar-collapse">
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/subscribe">Subscribe</a></li>
                                <li><a href="/login">Login</a></li>
                            </ul>
                        </div>
                    </div>
                    <%
                    /*
                    <div class="search">
                        <form role="form">
                            <i class="fa fa-search"></i>
                            <div class="field-toggle">
                                <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                            </div>
                        </form>
                    </div>
                    */
                    %>
                </div>
            </div>
        </header>
        <!--/#header-->
	<a href="https://github.com/cloudbrew-systems" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub" /></a>
        <section id="page-breadcrumb">
            <div class="vertical-center sun">
                 <div class="container">
                    <div class="row">
                        <div class="action">
                            <div class="col-sm-12">
                                <h1 class="title">Terms Of Service</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </section>
        <!--/#page-breadcrumb-->

        <section id="blog" class="padding-top padding-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12 col-md-offset-2">
                        <strong>CloudBrew Terms of Service</strong>
                        <br/>
                        <u>NOTE</u>: Please read this carefully.
                        <br/>
                        <br/>
                        Welcome to CloudBrew! We hope you enjoy the simplicity of accessing all your storage merged together with inbuilt security for your data. However, there are a few things you should know.
                        <br/>
                        CloudBrew acts as a single interface for all your content stored across your online storage accounts. Neither do we store any of your content nor do we have access and full information of what it is. We do however possess some meta-data information of your data like file name, size, data location and file hashes (to ensure data consistency)
                        <br/>
                        <br/>
                        <strong>Copyright</strong>
                        <br/>
                        This site, including all software and other content contained herein, is the property of CloudBrew Systems and is protected by India and international copyright laws. The compilation and arrangement of all content on this Site is the exclusive property of CloudBrew Systems and is protected by international copyright laws. All rights reserved.
                        <br/>
                        <br/>
                        <strong>Trademarks</strong>
                        <br/>
                        All CloudBrew marks, graphics, logos, designs and trade names used and displayed on this Site are service marks or trademarks of CloudBrew Systems and are the sole and exclusive property of CloudBrew. All other trademarks not owned by CloudBrew that appear on this site are the property of their respective owners.
                        <br/>
                        <br/>
                        <strong>Who We Are</strong>
                        <br/>
                        CloudBrew is a product of CloudBrew Systems, whose principal place of business is at 402, Coral Waters, Kodichikanahalli, Bannerghatta Road, Bangalore 560076, India.
                        <br/>
                        We’d love to hear from you! Please visit us at: https://www.cloudbrew.io 
                        <br/>
                        <br/>
                        <strong>Beta Software</strong>
                        CloudBrew is now in its beta period. CloudBrew is not responsible for your data during this phase. It is recommended to test with sample and unimportant files during this period as we will not provide data guarantee.
                        <br/>
                        <br/>
                        <strong>Software Updates</strong>
                        <br/> 
                        From time to time, we will automatically update and install the Software. These updates are designed to improve and enhance your usability and experience. If you take any actions to prevent such update, that is likely to impair the performance of CloudBrew, we will not be liable for any associated consequences or damages incurred by you.
                        <br/>
                        <br/>
                        <strong>Content Policy</strong>
                        <br/>
                        Even though CloudBrew does not store any content and therefore cannot really do anything with regard to the content, we may still receive notices of certain types of content that is alleged to be offensive, illegal, private or confidential. Some example of content type is listed below (purview not just restricted to it):
                        <br/>
                        <ul style="list-style-type: circle;">
                            <li>
                                Adult content, child pornography or paedophilia
                            </li>
                            <li>
                                Hate speech, violence or threats contents
                            </li>
                            <li>
                                Terrorism, Contents that undermine national/global security
                            </li>
                            <li>
                                Illegal activities
                            </li>
                            <li>
                                Spam, malware, viruses, and phishing
                            </li>
                        </ul>
                        <br/>
                        <br/>
                        <strong>Consent to Electronic Delivery of Notices</strong>
                        <br/>
                        When you visit CloudBrew or send e-mails to us, you are communicating with us electronically. You consent to receive communications from us electronically, including without limitation by e-mail or by posting notices on this Site. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.
                        <br/>
                        <br/>
                        <strong>Minors</strong>
                        <br/>
                        This Site is not intended for use by or availability to minors under the age of 16. IF YOU ARE UNDER 16 YEARS OF AGE, YOU MAY NOT ACCESS OR USE THIS SITE. By USING THIS SITE, YOU REPRESENT TO CLOUDBREW THAT YOU ARE 16 YEARS OF AGE OR OLDER. IF YOU ARE UNDER THE AGE OF 16, YOU HEREBY REPRESENT THAT YOU ARE USING THIS SITE WITH THE CONSENT OF YOUR PARENT OR LEGAL GUARDIAN, AND YOUR PARENT OR LEGAL GUARDIAN HEREBY AGREES ON YOUR BEHALF TO BE LEGALLY BOUND BY THESE TERMS OF USE.
                        <br/>
                        <br/>
                        <strong>Termination</strong>
                        <br/>
                        You're free to stop using our services at any time. We also reserve the right to suspend or end the services at any time at our discretion and without notice.
                        <br/>
                        <br/>
                        <strong>Services "AS IS"</strong>
                        <br/>
                        We strive to provide great Services, but there are certain things that we can't guarantee. TO THE FULLEST EXTENT PERMITTED BY LAW, CLOUDBREW SYSTEMS AND ITS AFFILIATES MAKE NO WARRANTIES, EITHER EXPRESS OR IMPLIED, ABOUT THE SERVICES. THE SERVICES ARE PROVIDED "AS IS."
                        <br/>
                        <br/>
                        <strong>Modifications</strong>
                        <br/>
                        CloudBrew reserves the right to modify these Terms of Service at any time upon posting. By continuing to use this site after any changes are posted, you are signifying your acceptance of the revised terms and conditions, regardless of whether you have reviewed them. Please visit this page regularly to review the then current Terms of Service to which you are bound.
                        <br/>
                        <br/>
                        <strong>Enforcement</strong>
                        <br/>
                        When we receive formal written complaints or requests from government or law enforcement agencies, it is our policy to cooperate with these enforcement actions and requests. We will seek to contact the impacted users who are the subject of the complaint, when it is possible and appropriate to do so.
                    </div>
                </div>
            </div>
        </section>
        <!--/#blog-->

        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center bottom-separator">
                        <img src="/landingpage/images/home/under.png" class="img-responsive inline" alt="">
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="bottom">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <a href="/">
                                        <img src="/landingpage/images/logo.png" alt="CloudBrew" style="height: 40px;">
                                    </a>
                                </div>
                                <div class="col-md-12 col-sm-12 text-center">
                                    <p><small>&copy; CloudBrew Systems. All Rights Reserved.</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="bottom">
                            <h2>Company</h2>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <a href="/about">About</a>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <a href="/news">News</a>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <a href="/terms">Terms Of Service</a>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <a href="/privacy">Privacy Policy</a>
                                </div>                     
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="bottom">
                            <h2>Subscribe</h2>
                            <form id="subscribeform" name="contact-form" method="post" action="/requestsubscribe">
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" required="required" placeholder="Email Id">
                                </div>
                                <div class="form-group">
                                    <button onclick="$('#subscribeform').submit()" class="btn btn-submit blue-button">Subscribe</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="copyright-text text-center">
                            <!-- <p>&copy; CloudBrew Systems. All Rights Reserved.</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--/#footer-->


        <script type="text/javascript" src="/landingpage/js/jquery.js"></script>
        <script type="text/javascript" src="/landingpage/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/landingpage/js/lightbox.min.js"></script>
        <script type="text/javascript" src="/landingpage/js/wow.min.js"></script>
        <script type="text/javascript" src="/landingpage/js/main.js"></script>   
    </body>
</html>
